# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS code files
*.json
src/Cliente
src/Cuenta
src/main
src/Prestamo
src/Menu
prestamos.csv
transacciones.csv
prestamos.csv
cuentas.csv
cuentas-dolares.csv
cuentas-colones.csv
cedulas.csv
